<section class="work-history h-100 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="list">
          <div class="row">
            <div class="col-md-4">
              <h4>Frontend Engineer <br> Clark GmbH</h4>
              <p>August 2022 - December 2022</p>
            </div>
            <div class="col-md-8">
              <p>Responsible for designing and implementing solutions using EmberJS, creating and maintaining features
                for app scheduling, increasing accessibility and improving consultation efficiency.
              </p>
            </div>
          </div>
        </div>
        <div class="list">
          <div class="row">
            <div class="col-md-4">
              <h4>Frontend Module Lead <br> Mindtree Pvt. Ltd.</h4>
              <p>August 2021 - August 2022</p>
            </div>
            <div class="col-md-8">
              <p>Build a new web app with Angular in the Frontend, taking close attention to write well
                maintained code from the beginning. Directly collaborated with Product Owner to work on
                the Web App design, actively giving suggestions for improvement of UI and UX experience.
              </p>
            </div>
          </div>
        </div>
        <div class="list">
          <div class="row">
            <div class="col-md-4">
              <h4> Senior Software Engineer <br> Wellthy Therapeutics Pvt. Ltd.</h4>
              <p>March 2018 - July 2021</p>
            </div>
            <div class="col-md-8">
              <p>Worked in an Agile-driven environment to effectively manage project timelines and
                resources. The user interface, data visualisation, and overall user experience were
                redesigned, resulting in a 60% increase in user engagement. As a result, the number of
                health-coach chats per user session increased by 40.7 percent. In charge of a team of
                two people.
              </p>
            </div>
          </div>
        </div>
        <div class="list">
          <div class="row">
            <div class="col-md-4">
              <h4>Web UI Developer <br> Codegreen Technologies LLP</h4>
              <p>January 2016 - March 2018</p>
            </div>
            <div class="col-md-8">
              <p>Directly collaborated with the Product Owner on the website redesign, actively suggesting
                improvements to the UI and UX experience. Create and maintain new or improved software
                products, procedures, and techniques. Multiple responsive, cross-browser compatible,
                performance enhanced, and accessibility compliant websites were implemented, with
                loading times 25% faster than the industry average.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
