<section class="home mt-5 ms-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="data">
          <h1>Portfolio Links<br>
          </h1>

        </div>
      </div>
      <div class="col-md-12">
        <div class="porfolio-list" *ngFor="let data of portfolioList">
          <div class="row">
            <div class="col-md-5">
              <h5 class="me-3">{{data?.title}}</h5>
            </div>
            <div class="col-md-6"> <a href="{{data?.link}}" target="_blank">{{data?.link}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
