<div id="particles-js" class="body">
  <section class="home">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="data ms-5">
            <h1>Portfolio Links<br>
            </h1>
            <div class="row">
              <div class="col-md-12">
                <div class="porfolio-list d-flex">
                  <h5 class="me-3">Vint LLC</h5>
                  <a href="https://vintllc.com" target="_blank">https://vintllc.com</a>
                </div>
                <div class="porfolio-list d-flex">
                  <h5 class="me-3">Truventor AI</h5>
                  <a href="https://www.truventor.ai" target="_blank">https://www.truventor.ai</a>
                </div>
                <div class="porfolio-list d-flex">
                  <h5 class="me-3">Wellthy Therapeutics</h5>
                  <a href="https://www.wellthytherapeutics.com/" target="_blank">
                    https://www.wellthytherapeutics.com/
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
