<mat-toolbar class="mat-elevation-z8 text-center">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>

  <div class="">
    <a [routerLink]="['/home']" class="active" routerLinkActive="router-link-active">Home</a>
    <a [routerLink]="['/work-history']" class="active" routerLinkActive="router-link-active">Work History</a>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z3">
    <app-sidenav></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z3">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>