<div id="particles-js" class="body">
  <section class="home">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-12">
          <div class="data ms-5">
            <h1>I'm Nikhil Raj A <br>
              <span>Front-end</span> Developer
            </h1>
            <p class="mt-4">Expert in building scalable front-end infrastructure software, developing web
              applications and responsive websites using Angular, Typescript, Javascript, HTML, CSS,
              Bootstrap, Angular Material also modern libraries and frameworks. Always on the lookout for new
              technologies.</p>
            <a href="mailto:nikhilrajnair.a@gmail.com" class="btn btn-primary px-5">Hire Me</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
