.home{
    .data{
        h1{
            font-weight: 600;
            font-size: 3rem;
            color: #000;
            line-height: 1.23;
            span{
                color: #1C58F2;
            }
        }
        p{
            color: #767676;
        }
    }
}