
<div class="text-center mt-5">
    <img class="avatar img-fluid rounded mat-elevation-z8" src="assets/img/avatar.jpg" />
</div>

<h4 class="name text-center mt-5">Nikhil Raj A</h4>
<p class="designation text-center">Frontend Engineer</p>
<ul class="list-group list-group-horizontal list-group-flush justify-content-center">
    <li class="list-group-item border-0">
        <a href="https://linkedin.com/in/nikhilrajnair" target="_blank">
            <i class="bi bi-linkedin"></i>
        </a>
    <li class="list-group-item border-0">
        <a href="https://github.com/nikhilrajnair" target="_blank">
            <i class="bi bi-github"></i>
        </a>
    </li>
    <li class="list-group-item border-0">
        <a href="https://codepen.io/nikhilrajnair" target="_blank">
            <i class="bi bi-code"></i>
        </a>
    </li>
</ul>



<!-- <div class="row">
      <div class="col-md-6 text-start">Hello</div>
      <div class="col-md-6 text-end">hi</div>
    </div> -->

<div class="skills mt-5 mb-5">
    <h4>Skills</h4>
    <div class="items mb-3">
        <div class="d-flex justify-content-between">
            <span>HTML</span>
            <span>90%</span>
        </div>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0"
                aria-valuemax="100"></div>
        </div>
    </div>
    <div class="items mb-3">
        <div class="d-flex justify-content-between">
            <span>CSS</span>
            <span>90%</span>
        </div>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0"
                aria-valuemax="100"></div>
        </div>
    </div>
    <div class="items mb-3">
        <div class="d-flex justify-content-between">
            <span>JavaScript</span>
            <span>70%</span>
        </div>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0"
                aria-valuemax="100"></div>
        </div>
    </div>
    <div class="items mb-3">
        <div class="d-flex justify-content-between">
            <span>Angular</span>
            <span>70%</span>
        </div>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0"
                aria-valuemax="100"></div>
        </div>
    </div>
    <div class="items mb-3">
        <div class="d-flex justify-content-between">
            <span>Bootstrap</span>
            <span>95%</span>
        </div>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0"
                aria-valuemax="100"></div>
        </div>
    </div>
    <div class="items mb-3">
        <div class="d-flex justify-content-between">
            <span>Git</span>
            <span>80%</span>
        </div>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="95" aria-valuemin="0"
                aria-valuemax="100"></div>
        </div>
    </div>
</div>
<div class="skills extra-skills">
    <h4>Extra Skills</h4>
    <p>SCSS/SASS, LESS, PostCSS </p>
    <p>TailwindCSS, Bulma</p>
    <p>Angular Material, Ionic</p>
    <p>TypeScript </p>
    <p>ReactJS, React Native</p>

</div>